
/*  T A B L E */
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color:#FFFFFF;
}
/* R E S E T   B R O W S E R   S T U F F  */
*     {
    box-sizing: border-box;
}
html,
body   {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 16px;
}


/*  T I T L E*/
#title{
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
}



/* O V E R A L L   P A G E  */
body     {
    background: #FFF;
    font-family: Arial, Helvetica, sans-serif;
}



/* H E A D E R */
header   {
    background:white;
    color: black;
    padding: 20px 30px;

}



/* L O G O */
#logo         {
    display: inline-block;
    color: #FFF;
    text-decoration: none;
    width: 49%;
}
#logo img    {
    width: 50px;
    border-radius: 3px;
    margin-right: 8px;
    vertical-align: middle;
}
#logo span   {
    display: inline-block;
}



/* N A V I G A T I O N    B A R  */
nav     {

    width: 50%;
    display: inline-block;
    text-align: right;
}
nav ul   {
    list-style: none;
    margin: 0;
}
nav ul li {
    display: inline-block;
}
nav ul li a    {
    color: black;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    border-radius: 3px;
    transition: 0.3s ease all;
}
nav ul li a:hover   {
    background:grey;
}


/*  F O O T E R */
footer   {
    background: #222;
    color: #777;
    padding: 5px;
    text-align: center;
}
footer img   {
    display: block;
    border-radius: 5px;
    width: 80px;
    margin: 0 auto 10px;
}



/* M A I N    C O N T E N T*/
.heroccc           {
    min-height: 800px;
    text-align: center;
    background-image: url('../img/background.jpg');
    background-size: cover;
}
.hero-content  {
    color: black;
    padding-top: 130px;
    font-family: 'Times New Roman', Times, serif;
}
.hero-content h1   {
    color: black;
    font-size: 100px;
    margin: 0;
}
.hero-content p    {

    font-size: 50px;
}
.hero-content a    {
    display: inline-block;
    color: black;
    border: 3px solid #FFF;
    border-radius: 3px;
    padding: 15px 30px;
    margin-right: 20px;
    text-decoration: none;
    font-size: 28px;
}

/* A D M I N   T I T L E*/
    #admin-title{
        display: flex;
        justify-content: center;
    }


/* A D M I N   D I V */
.main-div{
    display: flex;
    justify-content: center;
}